/* colors: green #30cf83, blue #3a4b58, dark blue #211d3d, light grey #d2d4d3, dark grey #696a6d */

@font-face {
	font-family: GT-Walsheim-Medium;
	src: url(GT-WALSHEIM-PRO-MEDIUM_0.TTF);
}

@font-face {
	font-family: GT-Walsheim-Thin;
	src: url(GT-Walsheim-Pro-Trial-Thin.otf);
}

@font-face {
	font-family: GT-Walsheim-Oblique;
	src: url(GT-Walsheim-Pro-Trial-Light-Oblique.otf);
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(SourceSansPro-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Bold;
	src: url(UntitledSansTest-Bold.otf);
}

@font-face {
	font-family: UntitledSansTest-Light;
	src: url(UntitledSansTest-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Medium;
	src: url(UntitledSansTest-Medium.otf);
}

a {
	text-decoration: none !important;
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

/* TOP SECTION */

.top-section {
	height: 110vh;
    background-image: linear-gradient(rgba(251, 251, 251, 0.7), rgb(251, 251, 251) 85%), url(../images/unc_charlotte-min.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: initial, initial;
    background-repeat-y: initial, initial;
    background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
}

.header {
	margin-top: 10vh;
}

.jomo-logo {
	margin-bottom: 3rem;
}

.app-store {
	margin-bottom: 3rem;
}

.play-store {
	width: 165px;
	display: inline-block;
	margin: .5rem;
}

.header h3 {
	font-family: 'GT-Walsheim-Medium';
	color: #3a4b58;
	font-size: 32pt;
}

.header p {
	font-family: "UntitledSansTest-Light";
	color: #696a6d;
	font-size: 16pt;
	font-weight: 550;
}

.learn-button {
	font-family: "UntitledSansTest-Light";
	color: #696a6d;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	text-decoration: underline;
	letter-spacing: 0.05em;
	line-height: 1.46;
	font-weight: 900;
	outline: none;
	margin-bottom: 1rem;
}

/* About JOMO section */

.about-jomo {
	background-color: #30cf83;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.about-jomo h1 {
	font-family: 'GT-Walsheim-Medium';
	color: #ffffff;
	font-size: 30pt;
}

.about-jomo p {
	font-family: 'UntitledSansTest-Light';
	color: #ffffff;
	font-size: 16pt;
	font-weight: 550;
	letter-spacing: .75px;
}

/* Rep info section */

.info {
	padding-top: 8rem;
	border-bottom: 1px solid #30cf83;
}

.info h1 {
	color: #3a4b58;
	font-family: 'GT-Walsheim-Medium';
	font-size: 30pt;
	margin-bottom: 5rem;
	text-align: center;
}

.info p {
	color: #69616d;
	font-family: 'UntitledSansTest-Light';
	font-size: 16pt;
	letter-spacing: .75px;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-top: 6rem;
}

/* JOB-DETAILS SECTION */

.job-details {
	background-color: #f5f5f5;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.job-details h1 {
	color: #3a4b58;
	font-family: 'GT-Walsheim-Medium';
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.job-details p {
	font-family: 'UntitledSansTest-Light';
	color: #696a6d;
	font-weight: 550;
	letter-spacing: .75px;
	font-size: 16pt;
}

.job-details h3 {
	color: #3a4b58;
	font-family: 'GT-Walsheim-Medium';
	font-size: 20pt;
	margin-bottom: 2rem;
}

/* INSTRUCTIONS SECTION */

.instructions {
	background-color: #3a4b58;
}

.instructions h1 {
	font-family: 'GT-Walsheim-Medium';
	color: #ffffff;
	font-size: 30pt;
	text-align: center;
	margin-top: 8rem;
	margin-bottom: 3rem;
}

ul {
	padding-left: 0;
	margin-bottom: 8rem;
}

.intructions-list li {
	height: 30px;
    margin: 2rem 0;
    list-style: none;
    font-family: 'UntitledSansTest-Light';
    color: #ffffff;
    font-size: 16pt;
    font-weight: 550;
}

/* SIGNUP FORM */

.sign-up {
	padding-top: 8rem;
}

.sign-up h1 {
	font-family: 'GT-Walsheim-Medium';
	color: #30cf83;
	text-align: center;
	letter-spacing: 2px;
	font-size: 32pt;
	text-shadow: 0 1px 1px #23AB6A;
}

form {
	margin-top: 3rem;
}

.form-group {
	margin-bottom: 3rem;
}

.form-group label {
	font-family: 'GT-Walsheim-Medium';
	color: #3a4b58;
	font-size: 14pt;
	letter-spacing: .75px;
}

.form-control {
	text-decoration: none;
}

.form-control::placeholder, .form-control  {
	font-family: 'UntitledSansTest-Light';
	letter-spacing: .75px;
}

input, textarea {
	outline: none;
	border: 1px solid #696a6d;
}

.submit-button {
	margin-bottom: 5rem;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.8px;
	line-height: 24px;
	text-shadow: 0 1px 1px #23AB6A;
	background: #30CF83;
	border-radius: 4px;
	padding: 1.5rem;
	font-family: 'UntitledSansTest-Medium';
	outline: none;
	border: none;
	display: inline-block;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
}

.sign-up p {
	padding-bottom: 5rem;
	font-family: 'UntitledSansTest-Light';
	color: #696a6d;
	font-size: 16pt;
	font-weight: 550;
}